@import "../Variables.scss";
.book-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
.book-item-image {
  width: 50%;
  bottom: 0;
  left: 0;
  img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 20px grey;
  }
}
.book-item-content {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  font-family: $primaryFontFamily;
  color: map-get($colors, darkBrown);
  h2 {
    font-size: map-get($fontSizes, primary);
    font-weight: map-get($fontWeight, bold);
  }
  p {
    font-size: map-get($fontSizes, secondary);
    font-weight: map-get($fontWeight, regular);
  }
}

