@import "../styles/Variables.scss";

.book-list-ppal {
  height: 100%;
  width: 100%;
  background-color: map-get($colors, superLightBrown);
  position: relative;
  h1 {
    margin: 0.5rem 2rem;
    font-size: map-get($fontSizes, title);
    color: map-get($colors, darkBrown );
    font-family: $secondaryFontFamily;
    font-weight: map-get($fontWeight, semibold );
    text-align: center;
  }
}
