@import "./Variables.scss";
.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: map-get($colors, superLightBrown);
}
.nav-ppal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-searchbar {
  border-radius: 30px;
  background-color: white;
  display: flex;
  input {
    font-family: $primaryFontFamily;
    color: map-get($colors, darkBrown);
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 10px 15px;
  }
  input:focus {
    outline: none;
  }
  .nav-searchbar-logo {
    background-color: map-get($colors, lightBrown);
    border-radius: 30px;
    .nav-searchbar-logo-svg {
      height: 20px;
      stroke: black;
      stroke-width: 3px;
      fill: none;
    }
  }
}
.main-nav {
  display: none;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  .mobile-nav-ppal {
    padding: 3% 5%;
    height: 50%;
    .mobile-nav-img {
      height: 2.5rem;
    }
  }
  .mobile-nav-searchbar {
    margin: 1rem 5%;
    height: 50%;
  }
}

@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    .main-nav-ppal {
        margin-left: 1rem;
        .main-nav-img{
            height: 5rem;
        }
        select:focus{
            outline: none;
        }
        .main-nav-ppal-dropdown{
            border: none;
            border-radius: 10px;
            margin-left: 2rem;
            width: 10rem;
            font-family: $primaryFontFamily;
            padding-left: 1rem;
            .main-nav-ppal-dropdown-option{
                margin-left: 3rem;
            }
        }
    }
    .main-nav-searchbar {
        margin-right:3rem;
        width: 30%;
    }
  }
}
